body{
  background: url("Stupa_Borobudur.jpg");
  background-size: cover;
}
div{
  width: 560px;
  height: 480px;
  border: 2px solid red;
  margin: 0 auto;
  background: url("avocado.jpg") top left / 36% repeat scroll white;
}
.justify{
  text-align: justify;
  color: blue;
}
